<%= form_with(model: drug, local: true) do |form| %>
  <% if drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
        <% drug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :iupac_name, 'IUPAC name' %>
    <%= form.text_field :iupac_name %>
  </div>

  <div class="field">
    <%= form.label :canonical_smiles, 'canonical SMILES' %>
    <%= form.text_field :canonical_smiles %>
  </div>

  <div class="field">
    <%= form.label :molecular_formula %>
    <%= form.text_field :molecular_formula %>
  </div>

  <div class="field">
    <%= form.label :cas_number, 'CAS number' %>
    <%= form.text_field :cas_number %>
  </div>

  <div class="field">
    <%= form.label :molecular_weight %>
    <%= form.text_field :molecular_weight %>
  </div>

  <div class="field">
    <%= form.label :klass, 'Class' %>
    <%= form.text_field :klass %>
  </div>

  <div class="field">
    <%= form.label :superklass, 'Superclass' %>
    <%= form.text_field :superklass %>
  </div>

  <div class="field">
    <%= form.label :rotatable_bond_count %>
    <%= form.text_field :rotatable_bond_count %>
  </div>

  <div class="field">
    <%= form.label :complexity %>
    <%= form.text_field :complexity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
