<p id="notice"><%= notice %></p>

<h1>Drugs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>IUPAC name</th>
      <th>Canonical SMILES</th>
      <th>Molecular formula</th>
      <th>CAS number</th>
      <th>Molecular weight</th>
      <th>Class</th>
      <th>Superclass</th>
      <th>Rotatable bond count</th>
      <th>Complexity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.name %></td>
        <td><%= drug.iupac_name %></td>
        <td><%= drug.canonical_smiles %></td>
        <td><%= drug.molecular_formula %></td>
        <td><%= drug.cas_number %></td>
        <td><%= drug.molecular_weight %></td>
        <td><%= drug.klass %></td>
        <td><%= drug.superklass %></td>
        <td><%= drug.rotatable_bond_count %></td>
        <td><%= drug.complexity %></td>
        <td><%= link_to 'Show', drug %></td>
        <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
        <td><%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drug', new_drug_path %>
