<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drug.name %>
</p>

<p>
  <strong>IUPAC name:</strong>
  <%= @drug.iupac_name %>
</p>

<p>
  <strong>Canonical SMILES:</strong>
  <%= @drug.canonical_smiles %>
</p>

<p>
  <strong>Molecular formula:</strong>
  <%= @drug.molecular_formula %>
</p>

<p>
  <strong>CAS number:</strong>
  <%= @drug.cas_number %>
</p>

<p>
  <strong>Molecular weight:</strong>
  <%= @drug.molecular_weight %>
</p>

<p>
  <strong>Class:</strong>
  <%= @drug.klass %>
</p>

<p>
  <strong>Superclass:</strong>
  <%= @drug.superklass %>
</p>

<p>
  <strong>Rotatable bond count:</strong>
  <%= @drug.rotatable_bond_count %>
</p>

<p>
  <strong>Complexity:</strong>
  <%= @drug.complexity %>
</p>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
